*{
  margin: 0;
}
.container{
  margin-top: 100px;
  /* first container below nav always 100px */
}

/* Text Styles */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@700&display=swap');

/* font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif; */

h4, p, a, label{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin-bottom: 8px;
}

h2, h3{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

h2{
  font-size: 32px;
  margin-bottom: 25px;
}

h3{
  font-size: 25px;
  margin-bottom: 18px;
}

h4{
  font-weight: bold;
}

.italic{
  font-style: italic;
}


/* Colors */

/* blue color: #003865;
green color: #3CCF4E;
orange color: #EF5B0C;
dark gray color: #333333;
light gray color: #D9D9D9;
offwhite color: #F2F2F2; */

.color{
  height: 200px;
  width: 200px
}


/* Buttons */
.greenbutton, .graybutton, .orangebutton{
  border-radius: 2em;
  padding: 0.3em 0.7em 0.3em 0.7em;
  border-style: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  transition:0.6s;
}

.greenbutton{
  background-color: #3CCF4E;
  color: #333333;
  box-shadow: 3px 3px rgba(51, 51, 51, 0.3);
}

.orangebutton{
  background-color: #EF5B0C;
  color: #F2F2F2;
  box-shadow: 3px 3px rgba(51, 51, 51, 0.3);
}

.graybutton{
  background-color: #D9D9D9;
  color: #333333;
}


button:hover{
  filter: brightness(50%);
}

.regular{
  font-size: 20px;
}

.large{
  font-size: 30px;
}

/* Anchor Links */

a{
  text-decoration: none;
}
a:hover{
  color: #333333;
  text-decoration: underline;
}
.jobs-link{
  color: #EF5B0C;
}

.talents-link{
  color: #3CCF4E;
}

/* Sample Styling of Box */

#samplebox{
  background-color: #D9D9D9;
  height: 400px;
  border-radius: 5em; /*default radius*/
  padding: 5em; /*should be same default radius*/
}

#buttonbox{
  margin-top: 30px; /*default*/
  display: flex;
  justify-content: flex-end;
}